.curator-details {
  grid-column: 1/3;
  width: 340px;
}

.upcoming-events {
  gap: 2rem;
}

.upcoming-events h4 {
  font-weight: 400;
  font-size: 0.9rem;
}

.organisation-details {
  justify-content: space-between;
  align-items: center;
}
