.profile-page {
  width: 100dvw;
  height: 500px;
  background: repeating-linear-gradient(45deg, green 15%, white 20%);
  animation: slideRight 0.5s ease-out;
  position: absolute;
}

.profile-page-enter {
  z-index: 3;
}

.profile-page-enter-active {
  z-index: 3;
}

.profile-page-exit {
  z-index: 1;
}

.profile-page-exit-active {
  z-index: 1;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200);
  }
  100% {
    transform: translateX(0);
  }
}
