.home-page {
  background-color: white;
  animation: slideUp 0.5s ease-out;
}

.home-page-enter {
  z-index: 3;
}

.home-page-enter-active {
  z-index: 3;
}

.home-page-exit {
  z-index: 1;
}

.home-page-exit-active {
  z-index: 1;
}

@keyframes slideUp {
  0% {
    transform: translateY(200);
  }

  100% {
    transform: translateY(0);
  }
}
