.home-page {
  background-color: white;
  animation: slideUp 0.5s ease-out;
}

.home-page-enter {
  z-index: 3;
}

.home-page-enter-active {
  z-index: 3;
}

.home-page-exit {
  z-index: 1;
}

.home-page-exit-active {
  z-index: 1;
}

@keyframes slideUp {
  0% {
    transform: translateY(200);
  }

  100% {
    transform: translateY(0);
  }
}

.up-next {
  grid-row: 2 /3;
  font-weight: 300;
}

.up-next td {
  font-weight: lighter;
  font-size: 1.2rem;
}

.project-thumbnail {
  grid-row: 3/4;
}

.project-thumbnail img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project__button {
  width: 340px;
}

.project-thumbnail-description {
  padding: 0.6rem;
}

.project-thumbnail-description h3 {
  margin: 0;
  padding: 0;
}
