.home-page {
  background-color: white;
  animation: slideUp 0.5s ease-out;
}

.home-page-enter {
  z-index: 3;
}

.home-page-enter-active {
  z-index: 3;
}

.home-page-exit {
  z-index: 1;
}

.home-page-exit-active {
  z-index: 1;
}

@keyframes slideUp {
  0% {
    transform: translateY(200);
  }

  100% {
    transform: translateY(0);
  }
}

.home-up-next {
  grid-row: 2 /3;
  font-weight: 300;
}

.home-up-next h2 {
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.home-up-next td {
  letter-spacing: 0.07rem;
}

.home-up-next td:nth-child(2n) {
  padding-left: 1.5rem;
}

.home-project-thumbnail {
  grid-row: 3/4;
  margin-top: -0.5rem;
}

.home-project-thumbnail img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-project__button {
  width: 340px;
}

.home-project-thumbnail-description {
  padding: 0.625rem;
}

.home-project-thumbnail-description h3 {
  margin: 0;
  padding: 0;
}
