.password-recovery-page {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--base);
  animation: passwordSlideLeft 0.5s ease-out;
  padding: 20px;
}

.password-recovery-page-enter {
  z-index: 3;
}

.password-recovery-page-enter-active {
  z-index: 3;
}

.password-recovery-page-exit {
  z-index: 1;
}

.password-recovery-page-exit-active {
  z-index: 1;
}

@keyframes passwordSlideLeft {
  0% {
    transform: translateX(400);
  }

  100% {
    transform: translateX(0);
  }
}
