.explore-page {
  background-color: var(--base);
  animation: slideDown 0.8s ease-in-out;
}

.explore-page-enter {
  z-index: 3;
}

.explore-page-enter-active {
  z-index: 3;
}

.explore-page-exit {
  z-index: 1;
}

.explore-page-exit-active {
  z-index: 1;
}

.explore-section {
  grid-row: 3/4;
}

.explore-card-container {
  flex-wrap: wrap;
}
