.change-password-page {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--base);
  animation: loginSlideLeft 0.5s ease-out;
  padding: 20px;
  animation: signUpSlideRight 0.5s ease-out;
}

.change-password-page .footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.change-password-page-enter {
  z-index: 3;
}

.change-password-page-enter-active {
  z-index: 3;
}

.change-password-page-exit {
  z-index: 1;
}

.change-password-page-exit-active {
  z-index: 1;
}

@keyframes signUpSlideRight {
  0% {
    transform: translateX(-200);
  }
  100% {
    transform: translateX(0);
  }
}

.sign-up--buttons {
  width: 100%;
  justify-content: space-between;
}
