.timer-container {
  grid-column: 1 / 2;
  width: 340px;
  height: 135px;
  display: flex;
  flex-direction: column;
}

.timer-container h2 {
  font-family: var(--secondary-font);
  font-size: 47px;
  font-weight: 200;
  padding-top: 0.25rem;
  margin: 0;
}

.timer__controls {
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
