@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
  --base: #ffffff;
  --highlight: #0017f8;
  --accent__public: #e35ae4;
  --accent__registered: #4fe737;
  --timer-font: "Major Mono Display", monospace;
}

* {
  font-family:
    Futura,
    Trebuchet MS,
    Arial,
    sans-serif;
  color: var(--highlight);
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

/* reusable component styles */
.content-box {
  border: 2px solid var(--highlight);
  padding: 0.6rem;
  border-radius: 7px;
  background-color: var(--base);
}

.container-label {
  font-size: 0.68rem;
  font-weight: bold;
  padding-top: 0.35rem;
  margin: 0;
}

.shadow {
  box-shadow: 4px 4px 4px 0 var(--accent__public);
}

.shadow__audience {
  box-shadow: 4px 4px 4px 0 var(--accent__registered);
}

.button--primary {
  background-color: var(--base);
  border: 2px solid var(--highlight);
  border-radius: 7px;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.button--primary:hover {
  background-color: var(--highlight);
  color: var(--base);
}

.button--primary__clicked {
  background-color: var(--highlight);
  color: var(--base);
}

.button--secondary {
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button--secondary:hover {
  text-decoration: underline;
}

/* background styles */
.background__stripped {
  background: repeating-linear-gradient(
    45deg,
    var(--base),
    var(--base) 6px,
    var(--highlight) 6.5px,
    var(--highlight) 6px
  );
}

/* layout and general styling */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.padding-0 {
  padding: 0;
}

.stack > * {
  margin-top: 0.6rem;
}

.text-xl {
  font-size: 1.8rem;
}

.text-lg {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}
