.current-project {
  background-color: white;
  animation: slideLeft 0.8s ease-in-out;
}

.current-project-enter {
  z-index: 3;
}

.current-project-enter-active {
  z-index: 3;
}

.current-project-exit {
  z-index: 1;
}

.current-project-exit-active {
  z-index: 1;
}

.current-project__back-button {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}
