.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  text-align: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message button {
  max-width: 150px;
}

.error-logo {
  width: 12.5rem;
}
