.favourites-page {
  background-color: var(--base);
  animation-name: slideLeft;
}

.favourites-main {
  padding: 0 1.25rem;
}

.favourites-page-enter {
  z-index: 3;
}

.favourites-page-enter-active {
  z-index: 3;
}

.favourites-page-exit {
  z-index: 1;
}

.favourites-page-exit-active {
  z-index: 1;
}

.favourites-page--toggle-pair {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.favourites-page--title {
  margin-top: 1.25rem;
  font-size: .85rem;
}

.favourites-page--favourites-grid {
  margin-top: .625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.favourites-page--message__no-favourites {
  height: 320px;
  margin-top: 30px;
}
