.project-card {
  width: 165px;
  border-radius: 0.438rem;
}

.project-card img {
  width: 165px;
  height: 165px;
  border-radius: 0.438rem;
  border: 1px solid var(--highlight);
  object-fit: cover;
}

.project-card img:hover {
  scale: 0.97;
  transition: scale 100ms ease;
}
